//
//  secrets.xcconfig
//  FastPX
//
//  Created by Ben Sandofsky on 8/2/14.
//  Copyright (c) 2014 Sandofsky. All rights reserved.
//

CONSUMER_KEY = yourKeyGoesHere
CONSUMER_SECRET = yourSecretGoesHere
